.git/
build/
coverage/
dist-spec/
src/
test-fixtures/
test-project/
tmp/

*.log
.istanbul.yml
.npmignore
.prettierignore
.travis.yml
jasmine.json
prettier.json
tsconfig.json
tsconfig.lint.json
tsconfig.spec.json
tslint.json
yarn.lock